.body{
    padding:50px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}
.post {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.post p:last-child {
    margin-bottom: 0; /* Remove margin-bottom for the last paragraph */
}
